<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/myPost.css" />
    <title><%- name %>의 글</title>
</head>
<body>
    <section class="myPostHeader">
        <div class="myPostHeaderTextArea">
            <h1><%- name %>님이 작성한 글</h1>
        </div>
        <% for (let el of data) { %>
            <section class="myPostConatiner">
                <div class="myPostImgDiv">
                    <img src="<%- el.tripImg %>" alt="">
                </div>
                <div class="myPostInfoContainer">
                    <h2><%- name %>님이 이야기하는 내용</h2>
                    <div><%- el.tripNickName %></div>
                    <h2>지역은 어딘가요?</h2>
                    <div><%- el.tripLocation %></div>
                    <h2>지역 설명</h2>
                    <div><%- el.tripDesc %></div>
                </div>
            </section>
    
            <% } %>
            <a href="/goTrip/userInfo/<%- data[0].userID %>">뒤로가기</a>
    </section>

</body>
</html>